<!DOCTYPE html>
<html>
<head>
    <title>Produkterstellung</title>
</head>
<body>
<h1>Neues Produkt anlegen</h1>

<form method="post" th:action="@{/produkterstellung}">
    <label for="productName">Name des Produktes*:</label>
    <input type="text" id="productName" name="productName" required><br><br>

    <label for="bild">Bild*:</label>
    <input type="file" id="bild" name="image" accept=".jpeg, .png, .jpg" required><br><br>

    <label for="price">Preis*:</label>
    <input type="number" step="0.01" min="0.0" id="price" name="price" required><span>€</span><br><br>

    <label for="verfügbarkeit">Verfuegbarkeit:</label>
    <input type="text" id="verfügbarkeit" name="availability"><br><br>

    <label for="inhaltsstoffe">Inhaltsstoffliste/Zutaten*:</label><br>
    <textarea id="inhaltsstoffe" name="ingredients" required></textarea><br><br> <!--resize off-->

    <label for="halal">Halal?</label>
    <input type="checkbox" id="halal" name="halal"><br><br>

    <label for="koscher">Koscher?</label>
    <input type="checkbox" id="koscher" name="kosher"><br><br>

    <label for="vegetarisch">Vegetarisch?</label>
    <input type="checkbox" id="vegetarisch" name="vegetarian"><br><br>

    <label for="vegan">Vegan?</label>
    <input type="checkbox" id="vegan" name="vegan"><br><br>

    <label for="allergene">Moegliche Allergene:</label><br>
    <textarea id="allergene" name="allergens"></textarea><br><br> <!--resize off-->

    <p>Pflichtfelder sind mit '*' gekennzeichnet.</p> <!--cursive-->
    <input type="submit" value="Produkt speichern" onclick="showNotification()">
    <button onclick="redirect('produktseite')">Produktseite</button>

    <script>
        function showNotification() {
            alert('Daten erfolgreich aktualisiert');
        }
        function redirect(page) {
            window.location.href = page;
        }
    </script>

</form>
</body>
</html>
