<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Details</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>.nav-link:hover {
        text-decoration: underline;
    }</style>
</head>
<body>
<div class="container">
    <div class="d-flex justify-content-between align-items-center mt-2 mb-2">
        <div></div>
        <div>
            <a href="/logout" class="text-secondary">Logout</a>
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light text-center">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="#"></a>
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/qrcodeinput">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-qr-code-scan" viewBox="0 0 16 16">
                            <path d="M0 .5A.5.5 0 0 1 .5 0h3a.5.5 0 0 1 0 1H1v2.5a.5.5 0 0 1-1 0v-3Zm12 0a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0V1h-2.5a.5.5 0 0 1-.5-.5ZM.5 12a.5.5 0 0 1 .5.5V15h2.5a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5v-3a.5.5 0 0 1 .5-.5Zm15 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1 0-1H15v-2.5a.5.5 0 0 1 .5-.5ZM4 4h1v1H4V4Z"/>
                            <path d="M7 2H2v5h5V2ZM3 3h3v3H3V3Zm2 8H4v1h1v-1Z"/>
                            <path d="M7 9H2v5h5V9Zm-4 1h3v3H3v-3Zm8-6h1v1h-1V4Z"/>
                            <path d="M9 2h5v5H9V2Zm1 1v3h3V3h-3ZM8 8v2h1v1H8v1h2v-2h1v2h1v-1h2v-1h-3V8H8Zm2 2H9V9h1v1Zm4 2h-1v1h-2v1h3v-2Zm-4 2v-1H8v1h2Z"/>
                            <path d="M12 9h2V8h-2v1Z"/>
                        </svg>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:classappend="${#authorization.expression('hasRole(''ROLE_CLIENT'')')} ? 'disabled-link'"
                       class="nav-link active restricted-link" aria-current="page" href="/produkterstellung">Produkt
                        erstellen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/productList">Sortiment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Meine Reservierung</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Bewertungen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/shopinformation">Shop-Infos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/start">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-house" viewBox="0 0 16 16">
                            <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z"/>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <h1 class="mb-4" th:text="${product.getProductName()}"></h1>
    <div class="row">
        <img th:src="'data:image/png;base64,' + ${Image}" class="img-fluid" alt="Produkt"
             style="width: 400px; height: 400px;  " src="">
        <div class="col-md-6 d-flex flex-column">
            <div class="row mt-auto">
                <div class="col-5">
                    <h6 class="mb-4">Preis:</h6>
                    <h6 class="mb-4">Verfügbarkeit:</h6>
                    <h6 class="mb-4">Zutaten:</h6>
                    <h6 class="mb-4">Allergene:</h6>
                    <h6 class="mb-4">Kosher:</h6>
                    <h6 class="mb-4">Halal:</h6>
                    <h6 class="mb-4">Vegan:</h6>
                    <h6>Vegetarisch:</h6>
                </div>
                <div class="col-6">
                    <h6 class="mb-4" th:text="${product.getPriceAsString()} + '€'"></h6>
                    <h6 class="mb-4" th:text="${product.getAvailability()}"></h6>
                    <h6 class="mb-4" th:text="${product.getIngredients()}"></h6>
                    <h6 class="mb-4" th:text="${product.getAllergens()}"></h6>
                    <h6 class="mb-4" th:text="${product.isKosher()} ? 'Ja' : 'Nein'"></h6>
                    <h6 class="mb-4" th:text="${product.isHalal()} ? 'Ja' : 'Nein'"></h6>
                    <h6 class="mb-4" th:text="${product.isVegan()} ? 'Ja' : 'Nein'"></h6>
                    <h6 th:text="${product.isVegetarian()} ? 'Ja' : 'Nein'"></h6>
                </div>
            </div>
        </div>
    </div>
    <div class="qr-wrapper">
        <label for="qrcode">QR-Code:</label>
        <div class="mt-6 mb-4" id="qrcode"></div>
        <button type="button" id="printButton" class="btn btn-primary">QR-Code Drucken</button>
    </div>
</div>


<script>

    $(document).ready(function () {
        // Create a new window with the QR code content
        $('#printButton').click(function () {
            var printWindow = window.open('', '_blank');
            var qrCodeContent = $('#qrcode').html();
            printWindow.document.write('<html><head><title>QR Code Print</title></head><body>' + qrCodeContent + '</body></html>');
            printWindow.document.close();

            // Print the new window
            printWindow.print();
        });

        // Generate QR code from the current URL
        var currentUrl = window.location.href;
        var qrCodeUrl = 'https://api.qrserver.com/v1/create-qr-code/?data=' + encodeURIComponent(currentUrl);
        var qrCodeImg = $('<img>').attr('src', qrCodeUrl);
        $('#qrcode').append(qrCodeImg);

        // Disable restricted links and show an alert if clicked
        document.addEventListener('DOMContentLoaded', function () {
            const restrictedLinks = document.querySelectorAll('.restricted-link.disabled-link');
            restrictedLinks.forEach(link => {
                link.addEventListener('click', function (event) {
                    event.preventDefault();
                    alert('Sie besitzen nicht die erforderlichen Rechte');
                });
            });
        });
    });


</script>

</body>
</html>