<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Asta-Shop</title>
    <link rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          crossorigin="anonymous"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card mt-3">
                <div class="card-header">
                    <h3 class="text-center">Login:</h3>
                </div>
                <div class="card-body">
                    <div th:if="${loginError}" class="alert alert-danger" role="alert">
                        <span th:text="${loginError}"></span>
                    </div>
                    <form method="post" th:action="@{/login}" class="form-horizontal" role="form">
                        <div class="mb-3">
                            <label for="username" class="control-label">E-Mail Adresse *</label>
                            <input type="text" id="username" name="username" class="form-control" placeholder="E-Mail Adresse..."/>
                        </div>

                        <div class="mb-3">
                            <label for="password" class="control-label">Passwort *</label>
                            <input type="password" id="password" name="password" class="form-control" placeholder="Passwort..."/>
                        </div>

                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary">Einloggen</button>
                            <span>
                            <a th:href="@{/register}">Registrieren</a>
                        </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>