<!DOCTYPE html>
<html lang="en">
<head>
    <title>Produkterstellung</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>.nav-link:hover {
        text-decoration: underline;
    }</style>
</head>
<body>
<div class="container">
    <div class="d-flex justify-content-between align-items-center mt-2 mb-2">
        <div></div>
        <div>
            <a href="/logout" class="text-secondary">Logout</a>
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light text-center">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="#"></a>
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/qrcodeinput">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-qr-code-scan" viewBox="0 0 16 16">
                            <path d="M0 .5A.5.5 0 0 1 .5 0h3a.5.5 0 0 1 0 1H1v2.5a.5.5 0 0 1-1 0v-3Zm12 0a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0V1h-2.5a.5.5 0 0 1-.5-.5ZM.5 12a.5.5 0 0 1 .5.5V15h2.5a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5v-3a.5.5 0 0 1 .5-.5Zm15 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1 0-1H15v-2.5a.5.5 0 0 1 .5-.5ZM4 4h1v1H4V4Z"/>
                            <path d="M7 2H2v5h5V2ZM3 3h3v3H3V3Zm2 8H4v1h1v-1Z"/>
                            <path d="M7 9H2v5h5V9Zm-4 1h3v3H3v-3Zm8-6h1v1h-1V4Z"/>
                            <path d="M9 2h5v5H9V2Zm1 1v3h3V3h-3ZM8 8v2h1v1H8v1h2v-2h1v2h1v-1h2v-1h-3V8H8Zm2 2H9V9h1v1Zm4 2h-1v1h-2v1h3v-2Zm-4 2v-1H8v1h2Z"/>
                            <path d="M12 9h2V8h-2v1Z"/>
                        </svg>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/produkterstellung">Produkt erstellen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/productList">Sortiment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Meine Reservierung</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Bewertungen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/shopinformation">Shop-Infos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/start">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-house" viewBox="0 0 16 16">
                            <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z"/>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <h1>Neues Produkt anlegen</h1>

    <form method="post" th:action="@{/produkterstellung}" enctype="multipart/form-data">
        <div class="form-group">
            <label for="produktName">Name des Produktes*:</label>
            <input type="text" id="produktName" name="productName" required class="form-control">
        </div>

        <div class="form-group">
            <label for="bild">Bild*:</label>
            <input type="file" id="bild" name="image" accept="image/*" required class="form-control-file">
        </div>

        <div class="form-group">
            <label for="preis">Preis*:</label>
            <input type="number" step="0.01" min="0.0" id="preis" name="price" required class="form-control">
            <span>€</span>
        </div>

        <div class="form-group">
            <label for="verfügbarkeit">Verfügbarkeit:</label>
            <select name="availability" id="verfügbarkeit" class="form-control">
                <option th:each="availabilityOpt : ${T(com.example.softwaretechnik2.model.Availability).values()}"
                        th:value="${availabilityOpt}" th:text="${availabilityOpt.displayValue}"></option>
            </select>
        </div>

        <div class="form-group form-check">
            <label for="halal" class="form-check-label">
                <input type="checkbox" id="halal" name="halal" class="form-check-input"> Halal?
            </label>
        </div>

        <div class="form-group form-check">
            <label for="koscher" class="form-check-label">
                <input type="checkbox" id="koscher" name="kosher" class="form-check-input"> Koscher?
            </label>
        </div>

        <div class="form-group form-check">
            <label for="vegetarisch" class="form-check-label">
                <input type="checkbox" id="vegetarisch" name="vegetarian" class="form-check-input"> Vegetarisch?
            </label>
        </div>

        <div class="form-group form-check">
            <label for="vegan" class="form-check-label">
                <input type="checkbox" id="vegan" name="vegan" class="form-check-input"> Vegan?
            </label>
        </div>

        <div class="form-group">
            <label for="allergene">Moegliche Allergene:</label>
            <textarea id="allergene" name="allergens" class="form-control">Keine</textarea>
        </div>

        <div class="form-group">
            <label for="inhaltsstoffe">Zutaten:</label>
            <input type="text" list="inhaltsstoffe" id="ingredient-input" name="ingredients" class="form-control">
            <datalist id="inhaltsstoffe">
                <option>Weizenmehl</option>
                <option>Kuhmilch</option>
                <option>Zucker</option>
                <option>Kaffee</option>
                <option>Wasser</option>
                <option>Kakao</option>
                <option>Gurke</option>
                <option>Tomate</option>
                <option>Salat</option>
                <option>Salz</option>
                <option>Hefe</option>
            </datalist>
        </div>

        <details>
            <summary>Liste an Inhaltsstoffen</summary>
            <p>Weizenmehl<br>Kuhmilch<br>Zucker<br>Kaffee<br>Wasser<br>Kakao<br>Gurke<br>Tomate<br>Salat<br>Salz<br>Hefe</p>
        </details>

        <p>Pflichtfelder sind mit '*' gekennzeichnet.</p>
        <input type="submit" value="Produkt speichern" onclick="showNotification()" class="btn btn-primary">
    </form>
</div>


<script>
    $(document).ready(function () {
        $('#ingredient-input').on('input', function () {
            const inputField = $(this);
            const selectedIngredient = inputField.val();
            const options = $('#inhaltsstoffe option');

            options.each(function () {
                if ($(this).val() === selectedIngredient) {
                    const currentValue = inputField.data('selected') || '';
                    const newValue = currentValue ? currentValue + ', ' + selectedIngredient : selectedIngredient;
                    inputField.data('selected', newValue);
                    inputField.val(newValue);
                }
            });
        });
    });
</script>
</body>
</html>

